/* You can add global styles to this file, and also import other style files */
*{
    box-sizing : border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.4;
}

a {
    color : #333;
    text-decoration: none
}

.container {
    padding: 0 1rem;
}

.responsebar { 
    margin: 10px 0px;   
    position: absolute;
    top: 0;
    width: 500px;
    height: 60px;
    display: flex;
    align-items: center;
    font-weight: 200;
    font-size: 12px;
    justify-content: center;
  }




